h1, h2{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#courseName{
    margin: 2%;
}

.titleProgress{
    font-family: 'Montserrat', sans-serif;
    font-size: 37px;
    width: 70%;
    padding-top: 1%;
    vertical-align: middle;
    cursor: pointer;
    
}

.contentProgress{
    font-family: 'Metrophobic', sans-serif;
    width: 70%;
    vertical-align: top;
    text-align: justify;
    text-justify: inter-word;
    cursor: pointer;
    font-size: 20px;
}

h1{
    vertical-align: top;
    text-align: left;
    padding-left: 25%;
    color: black;
    font-weight: bold;
    font-size: 85.5px;
    letter-spacing: 1rem;
    text-shadow: 5px 5px #FF8500;
}

h2{
    font-weight: bold;
    font-size: 60px;
    color: #0380A8;
    cursor: pointer;
}

#title{
    width: 25%;
    text-align: center;
    padding-left: 2%;
}

#tableDiv{
    width: 75%;
    padding-right: 5%;
    margin: auto;
    margin-bottom: 2rem;
}


form.example button {
    width: 20%;
    background: #FF8500;
    color: white;
    border-radius: 0 5px 5px 0;
    border: none;
    cursor: pointer;
    padding: 2%;
  }
  
#buttonUpdate {
    color: #ffffff;
    background-color: #0380A8 !important;    
}

#buttonDelete {
    background-color: #FF605C !important;
    color: #ffffff;
}