<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Metrophobic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div>
    <div>
        <h2 id="progressProfile">Progress</h2>
    </div>
    <div style="display: flex;">
        <div id="title">
            <h1>PRO<br>GRE<br>SS</h1>
        </div>
        <div style="padding: 1rem; width: 30%; text-align: center;display: flex;">
        </div>
        <form class="form-signin" #progressUpdate="ngForm" (ngSubmit)="onSubmit()">
        <div class="progressUpdate">
                    <div class="inputBox">
                        <label for="inputUser">USER</label>
                        <input [(ngModel)]="progress.user" name='user' #user="ngModel" id="inputUser" type="text" placeholder="USER" required>     
                    </div>
                    <div class="inputBox">
                        <label id="LabelTotalProgress" for="inputTotalProgress" style="margin-left:auto">PROGRESS</label>
                        <input [(ngModel)]="progress.total" name='totalProgress' #totalProgress="ngModel" id="inputTotalProgress" type="text" placeholder="% of progress" required>                     
                    </div>
                    <div class="styleButton">
                        <button type="submit" class="btn col-lg-3 mx-2" id="buttonUpdate" [disabled]="!progressUpdate.form.valid">Update</button>
                        <button type="button" class="btn col-lg-3 mx-2" id="buttonDelete" data-toggle="modal" data-target="#exampleModal">Delete</button>   
                        <a type="cancel" id="buttonCancel" class="btn" onclick="history.go(-1)">Cancel</a>
                    </div>   


                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Danger zone!</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                
                            <div class="modal-body">
                                <h3>This action is irreversible!</h3>
                                <span>Enter passsword {{user.username}}</span>
                                <form #userRemoved='ngForm'>
                                    <label for="passwordRemove"></label>
                                    <input [(ngModel)]='possiblePass' type="password" id='passwordRemove' name='possiblePass' required>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" data-dismiss="modal" class="btn btn-danger" (click)='deleteProgress()' [disabled]="!userRemoved.form.valid">I'm sure</button>
                            </div>
                        </div>
                        </div>
                    </div>
    </div>