h1, h2{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#courseName{
    margin: 2%;
}

.titleTopic{
    font-family: 'Montserrat', sans-serif;
    font-size: 37px;
    width: 70%;
    padding-top: 1%;
    vertical-align: middle;
    cursor: pointer;
    
}

.contentTopic{
    font-family: 'Metrophobic', sans-serif;
    width: 70%;
    vertical-align: top;
    text-align: justify;
    text-justify: inter-word;
    cursor: pointer;
    font-size: 20px;
}

.imageTopics{
    width: 30%;
    text-align: center;
    border-bottom: 0.1rem dashed #0096C7;
    cursor: pointer;
}

.imageTopic{
    height: 12rem;
    border-radius: 6px;
    padding: 0.2rem 0;
}

h1{
    vertical-align: top;
    text-align: left;
    padding-left: 25%;
    color: black;
    font-weight: bold;
    font-size: 85.5px;
    letter-spacing: 1rem;
    text-shadow: 5px 5px #FF8500;
}

h2{
    font-weight: bold;
    font-size: 60px;
    color: #0380A8;
    cursor: pointer;
}

#title{
    width: 25%;
    text-align: center;
    padding-left: 2%;
}

#tableDiv{
    width: 75%;
    padding-right: 5%;
    margin: auto;
    font-size: 1.4rem;
}

#tableDiv td, th{
    width: 20%;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.08rem;
}

.searchTopics{
    width: 50%;
    border-radius: 5px 0 0 5px;
    border: none;
    background-color: #FFE2B2;
    padding: 2%;
    cursor: pointer;
}

.searchTopics:focus{
    outline-color: #FF8500;
    outline-offset: -1px;
    background-color: white;
}

.searchTopics::placeholder{
    color: gray;
}

form.example button {
    width: 20%;
    background: #FF8500;
    color: white;
    border-radius: 0 5px 5px 0;
    border: none;
    cursor: pointer;
    padding: 2%;
}



th{    
    text-align: center;
    width: auto;
    border-bottom: 1px solid #0380A8 !important;
    border-collapse:collapse;
}

td,th {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px;   
    border-collapse: collapse;
    border-right: 2px dashed #ADE8F4;
}

td{
    text-align: center;
    border-bottom: 1px dotted #ADE8F4;
}

#buttonEdit{
    background-color: #FFBD44 !important;
    color: #ffffff;
    font-weight: bold;
    border: none;
}

#buttonCreate{
    background-color: #A1C22F;
    border-width: 0.2rem;
    color: white;
}

#buttonCreate{
    width: 40%;
    margin: 4%;
    padding: 0;
    border-radius: 0%;
    font-weight: bold;
    font-size: 20px;
}