<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Metrophobic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div>
    <div>
        <h2 id="topicName">UPDATE</h2>
    </div>
    <div style="display: flex;">
        <div id="title">
            <h1>TO<br>P<br>IC</h1>
        </div>
        <div style="padding: 1rem; width: 30%; text-align: center;display: flex;">
            <img class="imageTopic" id="imageTopic" src="../../../assets/img/8.png">
        </div>
        <div class="formCreateTopic">
                <form class="formCss" #createTopic="ngForm" (ngSubmit)="onSubmit()">
                    <div class="inputBox">
                        <label for="inputNameTopic">NAME</label>
                        <input [(ngModel)]="topic.nameTopic" name='nameTopic' #nameTopic="ngModel" id="inputName" type="text" placeholder="NAME TOPIC" required>     
                    </div>
                    <div class="inputBox">
                        <label for="inputLevel">LEVEL</label>
                        <input [(ngModel)]="topic.level" name='level' #level="ngModel" id="inputLevel" type="number" placeholder="LEVEL" required>                 
                    </div>
                    <div class="inputBox">
                        <label id="LabelDescriptionTopic" for="inputDescriptionTopic" style="margin-left:auto">DESCRIPTION</label>
                        <input [(ngModel)]="topic.descriptionTopic" name='descriptionTopic' #descriptionTopic="ngModel" id="inputDescriptionTopic" type="text" placeholder="DESCRIPTION" required>                     
                    </div>
                    <div class="styleButton">
                        <a id="buttonCancel" class="btn" onclick="history.go(-1)">Cancel</a>
                        <button type="submit" id="buttonUpdate" class="btn" [disabled]="!createTopic.form.valid">Update</button>
                        <a id="buttonDelete" class="btn" data-toggle="modal" data-target="#deleteModal">Delete</a>
                    </div>   
                </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Danger zone!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
        <h3>This action is irreversible!</h3>
        <span>Enter passsword {{user.username}}</span>
        <form #topicRemoved='ngForm'>
            <label for="passwordRemove"></label>
            <input [(ngModel)]='possiblePass' type="password" id='passwordRemove' name='possiblePass' required>
        </form>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" data-dismiss="modal" class="btn btn-danger" (click)='deleteTopic()' [disabled]="!topicRemoved.form.valid">I'm sure</button>
        </div>
    </div>
    </div>
</div>