<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Metrophobic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div>
    <div>
        <h2 id="progressName">List</h2>
    </div>
    <div style="display: flex;">
        <div id="title">
            <h1>PRO<br>GRE<br>SS</h1>
        </div>
        <div id="tableDiv" *ngIf="progress1?.length > 0;else noProgress">
            <table style="margin: auto;" *ngFor="let topic of topics">
                <tr>
                    <td class="titleProgress">This is your progress {{progress.user}}</td>
                </tr>     
                <tr style="border-bottom: 0.1rem dashed #0096C7;padding-bottom: 2%;">
                    <td class="contentProgress" *ngIf='progress.total'>{{progress.total}}</td>
                </tr>    
            </table>
            <td><button id="buttonEdit" type="button" (click)="obtenerData(progressSelect)" routerLink="/profileProgress">Edit/Remove</button></td>
        </div>

        <ng-template #noProgress>
            <h1 style="text-shadow: 5px 5px #0380A8;">No progress to show...</h1>
            <button id="buttonCreate" class="btn mx-2" type="button" routerLink="/createrProgress">Add progress</button>
        </ng-template>
    </div>
</div>