<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Metrophobic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div>
    <div>
        <h2 id="topicName">{{topic.nameTopic}}</h2>
    </div>
    <div style="display: flex;">
        <div id="title">
            <h1>TO<br>P<br>IC</h1>
        </div>
        <div id="content">
            <div style="display: flex;align-items: top;justify-content: center;">
                <div style="display: flex;width: 50%; align-items: center;">
                    <table class="contentTable">
                        <tr>
                            <h3 style="cursor: default;">Content</h3>
                        </tr>
                        <tr *ngFor="let lesson of lessons let i = index" style="cursor: pointer;">
                            <div *ngIf="course.administrator == user._id">
                                <h4 data-toggle="modal" data-target="#modalLesson" (click)="obtenerData(lesson)">{{lesson.nameLesson}}</h4>
                            </div>
                            <div *ngIf="course.administrator != user._id">
                                <div style="display: flex; align-items: center;" *ngIf="lessonsProgress[i][1] == null">
                                    <img class="checkIcon" src="../../../assets/img/undone.png">
                                    <h4 data-toggle="modal" data-target="#modalLesson" (click)="obtenerData(lesson)">{{lesson.nameLesson}}</h4>
                                </div>
                                <div style="display: flex; align-items: center;" *ngIf="lessonsProgress[i][1] != null">
                                    <img class="checkIcon" src="../../../assets/img/done.png">
                                    <h4 data-toggle="modal" data-target="#modalLesson" (click)="obtenerData(lesson)">{{lesson.nameLesson}}</h4>
                                </div>
                            </div>
                        </tr>
                    </table>
                </div>
                <div style="display: flex; flex-direction: column;">
                    <div style="padding: 1rem; display: flex;" class="contentTopic">
                        {{topic.descriptionTopic}}
                    </div>
                    <div style="display: flex;padding: 1rem;">
                        <img class="imageTopic" style="text-align: center;" *ngIf="topic.imageTopic" src="{{uri+'getImageTopic/'+topic.imageTopic}}" (click)="obtenerData(topic)">
                        <img class="imageTopic" *ngIf="topic.imageTopic == '' || topic.imageTopic == undefined" id="imageTopic" src="../../../assets/img/8.png" (click)="obtenerData(topic)">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalLesson" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" *ngIf="lessonSelect != null || lessonSelect != undefined">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="">        
        <button type="button" class="close modal-header" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <h5 class="modal-title" id="modalTitle">{{lessonSelect.nameLesson}}</h5>
        <div class="modal-body"id="modalContent">
            <p style="text-align: justify;">{{lessonSelect.content}}</p>
            <button *ngIf="course.administrator != user._id" type="button" id="buttonNext" class="btn" data-dismiss="modal" (click)="setGrade(100)">Next</button>
        </div>
      </div>
    </div>
  </div>